* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  /* color: var(--mainBlack); */
  /* background: var(--mainWhite); */
  font-family: "Commissioner", sans-serif;
  width: 900px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

/* ========== Navigation ========== */

.nav {
  border: 1px solid red;
  position: fixed;
  height: 100%;
  width: 200px;
}

.nav-link {
  padding-top: 12px;
}

.main {
  border: 1px solid purple;
  height: 100%;
  margin-left: 200px;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 20px;
}

.about {
}
